/* 磚塊容器 */
.pixblock-img-container {
  display: flex;
  width: 100vw;
  min-width: 1325px;
  height: 438px;
}

/* 每個圖片的外框，為了讓圖片縮放的時候，超出部分隱藏 */
.pixblock-img-box {
  overflow: hidden;
  width: 50%;
  border: 1px solid #444;
}

/* 圖片 */
.pixblock-img-box img {
  width: 100%;
  transition: all .5s ease-in-out;
  transform: scale(1);
}

/* 圖片滑過 */
.pixblock-img-box img:hover {
  transform: scale(1.05);
}

/* 圖片暗色系，利用 filter 的 brightness 可以設定暗度 */
.pixblock-img-box img.dark {
  filter: brightness(70%);
}

/* 列的樣式 */
.pixblock-row {
  display: flex;
  height: 50%;
}

/* 欄的樣式 */
.pixblock-row .pixblock-col {
  overflow: hidden;
  width: 50%;
  border: 1px solid #444;
}
